#grid{
    display: flexbox;
    width: 390px;
    margin: 0px auto;
    margin-top: 10px;
    /* border:30px rgb(38, 38, 112); */
    background-color: lightseagreen;
}

.column { 
    background-color: lightslategray;
    width: 30px;
    height: 30px;
    margin: 8px;
    border: 5px rgb(38, 38, 112) solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

.row {
    width: 1000px;
    margin: 0px auto;
    display: flex;
    justify-content: left;
}

.marker {
    width: 80px;
    height: 80px;
}

#winner-display {
    display: none;
    background-color: red;
}

body {
    text-align: center;
    background: lightsteelblue;
}

body h1{
    color: navy;
}
#reset-button{
    margin-top: 10px;
    color: navy;
    background-color: lightseagreen;
}

.yellow {
    background-color: yellow;
}

.red{
    background-color: red;
}

.nothing{
    background-color: black;
}

.btn-group button {
    display: flex;
    align-items: center;
    background-color: lightsalmon; /* Green background */
    border: 1px solid lightsalmon; /* Green border */
    color: darkblue; /* White text */
    padding: 8px 10px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    margin: 2px;
    margin-bottom: 0px;
  }
  
  #select-counters{
      width: 50px;
      background-color: black;
      margin-top: 40px;
  }